<img src='letscodebr_cover.jpeg' align='left' width=100%/>

# Ada Tech [DS-PY-004] Técnicas de Programação I (PY) Aulas 4 e 5 : Pandas - Enunciado do Exercício 2.

### Conjunto de dados

O conjunto de dados que usaremos é uma versão muito condensada dos dados de uma Pesquisa de Domicílios Permanentes (pesquisa realizada por um instituto de pesuisas estatisticas e censos demográficos). É uma pesquisa contínua que tem como objetivo principal gerar informações sobre o funcionamento do mercado de trabalho.

Utilizaremos apenas algumas variáveis como idade, escolaridade, número de horas trabalhadas, qualificação da tarefa e renda do trabalho e alguns casos empregados, ou seja, aqueles que trabalharam pelo menos uma hora na semana anterior à pesquisa.

Importamos a biblioteca do `Pandas` e atribuímos pd como um apelido (alias):

In [1]:
import pandas as pd

## Exercicio 1

Vamos Aplicar o método [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) e ler em um `DataFrame` chamado `data` os dados do arquivo '../Data/data_filt.csv'

Este arquivo contém alguns dados numéricos e alguns tipos de string de caracteres.

As colunas são:

- ch06: int, idade

- nivel_ed: string, nivel educacional

- htot: int, quantidade de horas totais trabalhadas no período

- qualif: string, qualificação da tarefa

- p47t: int, entrada

In [2]:
# local:
data_location = "../data/data_filt.csv"

data = pd.read_csv(data_location, sep=",", encoding="latin1")

## Exercício 2

Vejamos agora os três primeiros registros dos dados `DataFrame` e os últimos cinco registros. Quantas linhas os dados têm? E quantas colunas?

Dicas:

Você pode aplicar os métddos

- [`pandas.DataFrame.head()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head)

- [`pandas.DataFrame.tail`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html?highlight=tail#pandas.DataFrame.tail)

- [`pandas.DataFrame.shape[]`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape)

- [`pandas.DataFrame.info()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info)

In [3]:
data.head()

   ch06            nivel_ed  htot            calif     p47t
0    46         1_H/Sec inc    45  2_Op./No calif.   6000.0
1    26  2_Sec. comp y mÃªs    25  2_Op./No calif.   5000.0
2    47  2_Sec. comp y mÃªs    25  2_Op./No calif.   5000.0
3    52         1_H/Sec inc    90  2_Op./No calif.  11000.0
4    45         1_H/Sec inc    44  2_Op./No calif.   9500.0

## Exercício 3

Quais são os nomes das colunas dos dados `DataFrame`? Qual é o índice dos dados `DataFrame`?

Dicas:

Você pode aplicar os métddos

- [`pandas.DataFrame.columns`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html?highlight=columns#pandas.DataFrame.columns)

- [`pandas.DataFrame.index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html?highlight=index#pandas.DataFrame.index)

In [4]:
data.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

Renomearemos agora as colunas para que tenham estes valores:

`['idade', 'nivel_educacional', 'hs_trabalhadas', 'qualif_ocupacional', 'renda_ult_mes']`

In [5]:
new_columns = ['idade', 'nivel_educacional', 'hs_trabalhadas', 'qualif_ocupcional', 'renda_ult_mes']

data.columns = new_columns

## Exercício 4 

Qual é o tipo de dados da quarta coluna?

In [6]:
data.dtypes

idade                  int64
nivel_educacional     object
hs_trabalhadas         int64
qualif_ocupcional     object
renda_ult_mes        float64
dtype: object

## Exercício 5 

Como estão distribuídos os níveis educacionais? Qual é o mais comum?

Dica:

Você pode aplicar o métddo

- [`pandas.Series.value_counts`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html?highlight=value_counts#pandas.Series.value_counts)

In [7]:
data['nivel_educacional'].value_counts()

nivel_educacional
2_Sec. comp y mÃªs    14634
1_H/Sec inc            8814
Name: count, dtype: int64

## Exercício 6

Qual é a renda mediana da população?

In [8]:
data['renda_ult_mes'].mean()

8107.905834186285

## Exercício 7

Construa um objeto `DataFrame` com as colunas `nivel_educacional` e `renda_ult_meses` de dados, selecione as primeiras $20$ linhas deste objeto e então gere uma amostra aleatória de $500$ linhas deste `DataFrame`.

Dica:

Você pode aplicar o métddo

- [pandas.DataFrame.sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample)

In [9]:
(
	data
	.loc[:, ['nivel_educacional', 'renda_ult_mes']]
	.head(20)
	.sample(500, replace=True)
 
)

     nivel_educacional  renda_ult_mes
13  2_Sec. comp y mÃªs         9000.0
16         1_H/Sec inc         2500.0
19         1_H/Sec inc         5500.0
4          1_H/Sec inc         9500.0
11  2_Sec. comp y mÃªs         4900.0
..                 ...            ...
2   2_Sec. comp y mÃªs         5000.0
5   2_Sec. comp y mÃªs         6000.0
8          1_H/Sec inc         3800.0
5   2_Sec. comp y mÃªs         6000.0
0          1_H/Sec inc         6000.0

[500 rows x 2 columns]

## Exercício 8

Construir um objeto `DataFrame` com todas as colunas de dados, exceto `nivel_educacional`.

Dica:

Crie uma máscara booleana dos nomes das colunas.

In [11]:
columns_want = [c for c in data.columns if c != 'nivel_educacional']
data.loc[:, columns_want].head()

   idade  hs_trabalhadas qualif_ocupcional  renda_ult_mes
0     46              45   2_Op./No calif.         6000.0
1     26              25   2_Op./No calif.         5000.0
2     47              25   2_Op./No calif.         5000.0
3     52              90   2_Op./No calif.        11000.0
4     45              44   2_Op./No calif.         9500.0

## Exercício 9

Ordene os dados de acordo com a coluna de `idade` em ordem decrescente.

Dica:

Você pode aplicar o métddo

- [`pandas.DataFrame.sort_values()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

In [12]:
(
	data
	.sort_values(by='idade', ascending=False)
)

,idade,nivel_educacional,hs_trabalhadas,qualif_ocupcional,renda_ult_mes
22574,93,1_H/Sec inc,20,2_Op./No calif.,8000.0
16461,85,2_Sec. comp y mÃªs,40,1_Prof./Tecn.,20700.0
16954,85,2_Sec. comp y mÃªs,36,2_Op./No calif.,8250.0
23317,84,1_H/Sec inc,25,2_Op./No calif.,9900.0
4340,84,1_H/Sec inc,36,2_Op./No calif.,7500.0
...,...,...,...,...,...
15198,13,1_H/Sec inc,6,2_Op./No calif.,800.0
5698,12,1_H/Sec inc,5,2_Op./No calif.,250.0
15308,12,1_H/Sec inc,7,2_Op./No calif.,250.0
19856,12,1_H/Sec inc,15,2_Op./No calif.,1200.0
20050,12,1_H/Sec inc,20,2_Op./No calif.,1600.0

## Exercício 10

Qual é a média de horas trabalhadas por jovens entre $14$ e $25$ anos com baixa qualificação?

Dica:
    
Combine várias máscaras booleanas

In [14]:
data.qualif_ocupcional.value_counts()

qualif_ocupcional
2_Op./No calif.    17372
1_Prof./Tecn.       6076
Name: count, dtype: int64

In [17]:
(
	data
	.loc[lambda d: (d['idade'] >= 14) & (d['idade'] <= 25)]
	.loc[lambda d: d['qualif_ocupcional'] == '2_Op./No calif.']
	['hs_trabalhadas']
	.mean()
)

37.57085900688655

## Exercício 11

Gere um novo `dataframe` com trabalhadores que ganham mais do que a renda média geral e estão abaixo do número médio de horas trabalhadas. Quantos trabalhadores estão nesta condição? Qual é a sua idade média?

Dica:

Calcule o salário médio e a média de horas trabalhadas, construa máscaras booleanas com esses valores, aplique a máscara para encontrar dados de índice com a combinação das máscaras construídas.

In [20]:
renda_media = data['renda_ult_mes'].mean()
media_horas_trabalhadas = data['hs_trabalhadas'].mean()

(
	data
	.loc[lambda d: d['renda_ult_mes'] > renda_media]
	.loc[lambda d: d['hs_trabalhadas'] > media_horas_trabalhadas]
	['idade']
	.mean()
)

42.466677220199465